.price {
  margin: 0;
  margin-bottom: 68px;

  &__container {
    margin: 0;
    padding: 0 0 48px 0;

    @media screen and (min-width: $screen-md) {
      margin: 0 24px;
      display: flex;
      justify-content: center;
      padding: 19px 0 24px 0;
    }

    @media screen and (min-width: $screen-xl) {
      margin: 0 24px;
      display: flex;
      justify-content: center;
      padding-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;

    @media screen and (min-width: $screen-md) {
      flex-direction: column;
      padding: 0 16px;
    }

    @media screen and (min-width: $screen-xxl) {
      max-width: 1056px;
      padding: 0 24px;
    }
  }

  &__item {
    box-sizing: border-box;
    width: 260px;
    height: 200px;
    padding: 20px 0;

    @media screen and (min-width: $screen-md) {
      width: 100%;
      height: auto;
      padding: 0;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: 348px 74px 81px 130px;
      grid-template-areas:
        'title-service title-price title-term .'
        'service price term button';
      &:not(:last-child) {
        border-bottom: 1px solid $color-border;
      }

      &:not(:first-child) .price__title {
        display: none;
      }
    }
  }

  &__title {
    margin: 0;
    padding: 0 0 2px 0;
    color: $text-grey;
    font-size: $text-small;
    line-height: $Line-height-small;

    @media screen and (min-width: $screen-md) {
      padding-bottom: 16px;
    }

    &--title-service {
      grid-area: title-service;
    }

    &--title-price {
      grid-area: title-price;
    }

    &--title-term {
      grid-area: title-term;
    }
  }

  &__text {
    margin: 0;
    padding: 0 0 12px 0;
    font-size: $text-small;
    line-height: $Line-height-small;
    letter-spacing: $letter-up;
    display: inline-block;

    @media screen and (min-width: $screen-md) {
      padding: 23px 0;
    }

    &:last-of-type {
      padding: 0;
    }

    &--service {
      grid-area: service;
    }

    &--price {
      grid-area: price;
    }

    &--term {
      grid-area: term;
    }
  }

  &__description {
    font-size: $text-small;
    line-height: 20px;
    letter-spacing: $letter-up;
    margin: 0 16px;
    padding: 0;

    @media screen and (min-width: $screen-md) {
      margin: 0 24px;
      max-width: 421px;
    }

    @media screen and (min-width: $screen-xl) {
      margin: 0 32px;
    }
  }

  &__link {
    display: inline-block;
    font-size: $Line-height-less-than-average;
    line-height: $Line-height-middle;
    letter-spacing: $letter;
    color: $text-dark;
    text-decoration: none;
    width: 192px;
    margin: 15px 16px 0;
    font-weight: 700;

    @media screen and (min-width: $screen-md) {
      min-width: 316px;
      margin-left: 24px;
    }

    @media screen and (min-width: $screen-xl) {
      margin-left: 32px;
    }

    &::after {
      content: '';
      border: solid $color-pink;
      border-width: 0 3px 3px 0;
      margin-left: 5px;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
    }
  }
}
