.link {
  @extend %link-element;

  &:hover {
    opacity: $opacity;
  }

  &:last-child {
    margin-right: 0;
  }

  &--indent {
    margin-left: 16px;

    @media screen and(min-width: $screen-xxl) {
      position: absolute;
      top: 33px;
      right: 457px;
    }
  }
}
