.title {
  margin-top: 12px;
  font-size: $text-middle;
  font-weight: normal;
  line-height: $Line-height-middle;
  letter-spacing: $letter;
  color: $text-grey;
  text-transform: uppercase;
  padding: 16px;

  @media screen and (min-width: $screen-md) {
    padding: 16px 24px;
  }

  @media screen and (min-width: $screen-xxl) {
    padding: 16px 29px;
  }
}
