html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: $font-tt;
  font-size: $text-middle;
}

.wrapper {
  min-width: $screen-sm;
  max-width: $screen-xxl;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: $screen-xl) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: $screen-xxl) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
