$font-tt: 'TT Lakes', 'Arial', sans-serif;

$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1120px;
$screen-xxl: 1440px;

$letter: -0.2px;
$letter-up: 0.2px;

$Line-height-less-than-average: 16px;
$Line-height-small: 18px;
$Line-height-middle: 24px;
$Line-height-large: 40px;

$text-grey: #7e7e82;
$text-dark: #1b1c21;

$text-small: 14px;
$text-middle: 16px;
$text-large: 28px;

$color-pink: #ff3e79;
$color-white: #f8f8f8;
$color-white-cristal: #ffffff;
$color-border: #eaeaea;
$color-text-placeholder: #B5B6BC;


$transition: opacity 0.3s;
$opacity: 0.7;

$img: url('../img/go.svg');
